*DS_Store
monods-t2t/monods_t2t.aux
monods-t2t/monods_t2t.bbl
monods-t2t/monods_t2t.blg
monods-t2t/monods_t2t.log
monods-t2t/monods_t2t.synctex.gz
monods-t2t/monods_t2t.pdf
wmt11/thrax.aux
wmt11/thrax.bbl
wmt11/thrax.blg
wmt11/thrax.log
wmt11/thrax.pdf
wmt12/joshua.synctex.gz
wmt12/joshua.aux
wmt12/joshua.bbl
wmt12/joshua.blg
wmt12/joshua.log
wmt12/joshua.pdf
wmt12/texput.log